section
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin-bottom: 60px

.smallStats
  margin: 60px
  .cardContent
    height: 150px
  .card
    margin: 10px

.cardContent
  h1
    margin: 15px 0px
    font-weight: normal
  text-align: center
  padding: 15px
  width: 280px

.advancedStats
  .cardContent
    box-sizing: border-box
    width: 30vw
    margin-top: 20px

.articleContainer
  margin-top: 5px
  display: flow-root
  *
    display: inline-block
  .articleName
    float: left
  .visitCount
    float: right
    color: var(--cta-normal-color)
    padding-right: 10px

.button
  border-radius: 10px
  padding: 8px
  background-color: var(--cta-bg-color)

#graphCanvas
  margin-bottom: 20px
